@charset "UTF-8";

/**
 * @author Léa Marois leamarois21@gmail.com
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/****** Librairies ******/

/** Normalize **/
@import "../../../node_modules/normalize.scss/normalize.scss";

/** Utilitaires **/
@import "utilitaires/variables";
@import "utilitaires/mixins";

/** Base **/
@import "base/typo";
// @import "base/header";
// @import "base/card";
// @import "base/fiche";

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

//** Header **//
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;

  border: solid 5px hsl(217, 16%, 45%);
  padding: 15px;
  border-radius: 20px;

  max-width: 700px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 30px !important;
  @media (min-width:$desktop) {
    height: 150px;
    margin-top: 50px !important;
    margin: 0 auto;
  }  


  img {
    width: 100px;
    @media (min-width:$desktop) {
      width: 150px;
      padding: 10px;
    }  
  }
}

.score {
  align-self: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
  @media (min-width:$desktop) {
    width: 150px;
    height: 110px;
  }  
  border-radius: 10px;

  p {
    margin: 0;
  }

  &--titre {
    color: hsl(229, 64%, 46%);
    font-weight: 500;

    @include fontSize(10px, true);
    @media (min-width:$desktop) {
      font-weight: 400;
      @include fontSize(20px, true);
    }  
  }

  &--score {
    color: hsl(229, 25%, 31%);
    font-weight: 700;
    @include fontSize(40px, false);
    @media (min-width:$desktop) {
      @include fontSize(60px, false);
    }  
  }
}

// - Dark Text: hsl(229, 25%, 31%)
// - Score Text: hsl(229, 64%, 46%)
// - Header Outline: hsl(217, 16%, 45%)